{% extends 'base.html' %}

{% block title %}Ajax Button Demo{% endblock title %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    $(document).ready(
        function(){
            var clicks = 0;

            $("#fibonacci-btn").click(
                function(){
                    clicks += 1;
                    $.ajax({
                        url: "{% url 'btn_demo' %}",
                        type: "post",
                        data: {
                            "csrfmiddlewaretoken": '{{ csrf_token }}',
                            "index": clicks
                        },
                        success: function(data) {
                            $("#index-p")[0].innerHTML = "Index: " + data.index;
                            $("#number-p")[0].innerHTML = "Number: " + data.number;
                            $("#sequence-p")[0].innerHTML = "Sequence: " + data.sequence;
                        },
                        failure: function(data) {
                            alert("Got an error dude");
                        }
                    });
                }
            );
        }
    )
</script>
{% endblock head %}

{% block content %}
<h2>Ajax Test</h2>
<p>Calculate Fibonacci numbers.</p>
<button id="fibonacci-btn">Calculate</button>
<div>
    <p id="index-p"></p>
    <p id="number-p"></p>
    <p id="sequence-p"></p>
</div>
{% endblock content %}