{% extends 'base.html' %}
{% load static %}

{% block title %}Button Demo{% endblock title %}

{% block head %}
<script>
    // Set the JS variables needed for the following script file
    var csrf_token = "{{ csrf_token }}";
    var btn_demo_url = "{% url 'btn_demo' %}";
</script>
<script src="{% static 'js/ajax/btn_demo.js' %}"></script>
{% endblock head %}

{% block content %}
<h2>Button Demo</h2>
<p>Calculate Fibonacci numbers.</p>
<button id="fibonacci-btn">Calculate Next</button>
<div>
    <div id="spinner-div"></div>
    <p id="index-p"></p>
    <p id="number-p"></p>
    <p id="sequence-p"></p>
</div>
{% endblock content %}