{% extends 'base.html' %}
{% load static %}

{% block title %}Form Demo{% endblock title %}

{% block head %}
<script>
    // Set the JS variables needed for the following script file
    var csrf_token = "{{ csrf_token }}";
    var fibonacci_url = "{% url 'fibonacci' %}";
</script>
<script src="{% static 'js/ajax/form_demo.js' %}"></script>
{% endblock head %}

{% block content %}
<h2>Form Demo</h2>
<p>Calculate Fibonacci numbers.</p>
<!-- Prevent the form from sending the request -->
<form id="fibonacci-form" onsubmit="event.preventDefault();">
    {% csrf_token %}
    {{ form }}
    <input type="submit" id="fibonacci-btn" value="Calculate">
</form>
<div>
    <div id="spinner-div"></div>
    <p id="index-p"></p>
    <p id="number-p"></p>
    <p id="sequence-p"></p>
</div>
{% endblock content %}